modelpara/det
work_dirs
pics/
scripts/__pycache__
scripts/why/daam
model
initno
layout_guidance
outputs
scripts/models/__pycache__
scripts/__pycache__
scripts/rebuttal/data
scripts/rebuttal/imgs

*.png
rebuttal/
*.npy
*.pkl
*.json
*.pyc
